@model Peals.Models.institucion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>institucion</legend>

    <div class="display-label">nombre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">telefono</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.telefono)
    </div>

    <div class="display-label">calle</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.calle)
    </div>

    <div class="display-label">altura_calle</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.altura_calle)
    </div>

    <div class="display-label">piso</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.piso)
    </div>

    <div class="display-label">departamento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.departamento)
    </div>

    <div class="display-label">localidad1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.localidad1.nombre)
    </div>

    <div class="display-label">usuario</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.usuario.mail)
    </div>

    <div class="display-label">fecha_alta</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha_alta)
    </div>

    <div class="display-label">informacion1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.informacion1.contenido)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
