<div class="gallery-conteiner">
    <div id="thumbs" class="sound-navigation">
        <div id="filtro" class="thumb-filter">
            @{ Html.RenderAction("AutoCompleteConPadre", "Busqueda", new { accion = "AutoCompletePorNombre", controlador = "Recurso", label = "nombre", value = "nombre", idList = "id", idEntidad = 2 }); }
            <button type="button" id="btn_buscarRecurso" onclick="recargar(1)">Buscar</button>
        </div>
        <ul class="thumbs">
            @foreach (var sonido in Model) { 
                <li>
                    <a id="@sonido.id" class="thumb" href="@Url.Content(sonido.ruta)" title="@sonido.nombre">
                        @sonido.nombre
                    </a>
                    <div class="caption">
                        <div class="image-title">@sonido.nombre</div>
                        <div class="subido_por">Subido por: @sonido.subido_por</div>
                    </div>
                </li>
            }
        </ul>
        <div id="controls" class="controls">
            <a class="prev" href="#" >&lsaquo; Anterior</a>
            <a class="next" href="#" >Siguiente &rsaquo;</a>
        </div>
        <div class="pagination" id="@ViewBag.TotalRecursos"></div>
    </div>
    <div id="gallery" class="sound-gallery">
        <div id="caption" class="caption-container"></div>
        <div class="slideshow-container">            
            <div id="slideshow" class="slideshow">
                <audio controls="controls" src="" />
                <img class="reportar" src="../../Content/Resources/General/Alert.png" width="24px" height="24px" alt="Reportar" onclick="repotarRecurso()"/>
            </div>
        </div>
    </div>
</div>
<div class="acciones">
    <button type="button" id="btn_cancelar" class="cerrar_dialog" >Cancelar</button>
    <button type="button" id="btn_seleccionar" >Seleccionar</button>
</div>
<script type="text/javascript">
    function init() {
        $('.thumbs').galeria({
            content: $('.slideshow audio'),
            caption: $('.caption-container'),
            navegacion: $('.controls'),
            paginacion: $('.pagination'),
            totalRecursos: $('.pagination').attr('id'),
            recursosPorPagina: 12,
            selectStyle: "selected",
            cambiarPagCallback: recargar
        });
    }

    var recargar = function (pag) {
        var filtro = $('.thumb-filter input').val();

        var params = { 'tipo': 2, 'filtro': filtro, 'pagina': pag };
        $.post("/Recurso/GetRecursosAsJson", params, function (data) {
            $.galeria.setTotalRecursos(data.total);
            $.galeria.recargarAudios(data.recursos);
        });
    }

    $(document).ready(init());
</script>