@{
    ViewBag.Title = "PEALS - Resultado";
}
<link href="@Url.Content("~/Content/Styles/botoneraConImagenSeisBotones.css")" rel="stylesheet" type="text/css" />
<style type="text/css">
    .image-effect-rotation
    {
        border: 4px solid #ecae76;
        float: left;
        height: 30em;
        margin-bottom: 5%;
        perspective: 800px;
        width: 40%;
    }
    
    .botonera input
    {
        margin-bottom: 2em;
        float:right;
    }
    
    .botonera 
    {
        float:left;
        width: 100%;
    }
    
    .centrado {
            margin-left: 30%;
    }
    
    
</style>
@model Peals.Models.historial_actividad
@{
    string usoAyudaActividad = (bool)Model.uso_ayuda_actividad ? "" : "No ";
    string usoAyudaConsigna = (bool)Model.uso_ayuda_consigna ? "" : "No ";

    string calificacionDocente = "";
    string clase = "";
    
    if (Model.calificacion_docente == null || Model.calificacion_docente == 0) {
        calificacionDocente = "N/C";
        clase = "centrado";
    }
    else {
        calificacionDocente = Model.calificacion_docente.ToString() + "%";
    }
}

<div id="tituloPagina">
    <h1>
        Resultado Resolución Actividad: "@Model.actividad1.nombre"</h1>
</div>
<div id="explicacionTituloPagina" style="text-align: center;">
    <h1>
        Actividad realizada el @Model.fecha_realizacion
    </h1>
    <h1>
        Actividad realizada en @Model.institucion1.nombre
    </h1>
</div>
<div class="image-effect-rotation @clase">
    <div class="image-side">
        <img src="@ViewBag.imgCritSistema" width="500">
        <div>
            CALIFICACION SISTEMA 
            <br />
            @Model.calificacion_sistema %
        </div>
    </div>
    <div class="share-side">
        <div>CALIFICACION SISTEMA</div>
        <div id='alumnoInstituciones' class="share-button share-via-facebook"><i class="fa fa-facebook"></i>Cantidad de Ejercicios: @Model.totalEjercicios</div> 
        <div id='alumnoCursos' class="share-button share-via-twitter"><i class="fa fa-twitter"></i>Ejercicios no resueltos: @Model.ejerciciosNoResueltos</div> 
        <div id='alumnoActividades' class="share-button share-via-google"><i class="fa fa-google"></i>Cantidad de Intentos: @Model.intentos</div> 
        <div id='resolucionActividadesAlumno' class="share-button share-via-flicker"><i class="fa fa-flicker"></i>Tiempo resolución: @Model.tiempo</div>
        <div id='resolucionActividadesAlumno' class="share-button share-via-boton5"><i class="fa fa-boton5"></i>@usoAyudaConsigna usó ayuda consigna</div>
        <div id='resolucionActividadesAlumno' class="share-button share-via-boton6"><i class="fa fa-boton6"></i> @usoAyudaActividad usó ayuda actividad</div>
    </div>
</div>

@if (Model.calificacion_docente != null && Model.calificacion_docente != 0)
{ 
<div class="image-effect-rotation" style="float:right; margin-right: 2%;">
    <div class="image-side">
        <img src="@ViewBag.imgCritDocente" width="500" alt="California surf">
        <div>
            CALIFICACION DOCENTE 
            <br />
            @calificacionDocente
        </div>
    </div>
    <div class="share-side">
        <div>CALIFICACION SISTEMA</div>
        <div id='alumnoInstituciones' class="share-button share-via-facebook"><i class="fa fa-facebook"></i>Cantidad de Ejercicios: @Model.totalEjercicios</div> 
        <div id='alumnoCursos' class="share-button share-via-twitter"><i class="fa fa-twitter"></i>Ejercicios no resueltos: @Model.ejerciciosNoResueltos</div> 
        <div id='alumnoActividades' class="share-button share-via-google"><i class="fa fa-google"></i>Cantidad de Intentos: @Model.intentos</div> 
        <div id='resolucionActividadesAlumno' class="share-button share-via-flicker"><i class="fa fa-flicker"></i>Tiempo resolución: @Model.tiempo</div>
        <div id='resolucionActividadesAlumno' class="share-button share-via-boton5"><i class="fa fa-boton5"></i>@usoAyudaConsigna usó ayuda consigna</div>
        <div id='resolucionActividadesAlumno' class="share-button share-via-boton6"><i class="fa fa-boton6"></i> @usoAyudaActividad usó ayuda actividad</div>
    </div>
</div>
    }

<div class="botonera" >
    <input type="button" id="btnEnviarMensaje" value="Enviar mensaje al docente" />
    <input type="button" id="btnTerminar" value="Terminar" />
</div>

<script type="text/javascript">

    $("#btnEnviarMensaje").click(function () {
        window.location.href = "/Mensaje/NuevoMensaje?idDestinatario=@Model.docente";
    });

    $("#btnTerminar").click(function () {
        window.location.href = "/Alumno/index";
    });

</script>