@model IEnumerable<Peals.Models.institucion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            nombre
        </th>
        <th>
            telefono
        </th>
        <th>
            calle
        </th>
        <th>
            altura_calle
        </th>
        <th>
            piso
        </th>
        <th>
            departamento
        </th>
        <th>
            localidad1
        </th>
        <th>
            usuario
        </th>
        <th>
            fecha_alta
        </th>
        <th>
            informacion1
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.calle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.altura_calle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.piso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.departamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.localidad1.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_alta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.informacion1.contenido)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
