@{
    ViewBag.Title = "Ver D.I.A.C. creada";
}
@model List<Peals.Models.item>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.reveal.js")"></script>
<link href="@Url.Content("~/Content/Styles/reveal.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Styles/Diac.css")" rel="stylesheet" type="text/css" />
<div id="tituloPagina">
    <h1>
        Nuevo D.I.A.C
    </h1>
</div>
<div id="explicacionTituloPagina">
    <h1>
        Se muestra el diseño del D.I.A.C. usado actualmente en su institución.</h1>
</div>
<div id="cuerpoDiac">
</div>
<div class="botonAceptar">
    <input id="crearDiac" type="button" value="Volver" />
</div>
<!-- OPCIONES -------------------------------------------------------------------->
<div id="modal_opciones" class="reveal-modal normal">
    <div id="tituloPagina">
        <h1 style="border-bottom: solid 3px;">
            Opciones</h1>
    </div>
    <div id="explicacionTituloPagina">
        <h1>
            Se muestran a continuación las opciones seleccionadas para este ítem.</h1>
    </div>
@*    <input type="text" id="inputOpcion" />
    <input type="button" id="agregarOpcion" value="Agregar" />*@
    <div id="divOpciones">
    </div>
    <div class="botonesModal">
        <input type="button" id="btnCerrarModalOpciones" value="Volver" />
    </div>
</div>
<!-- AYUDA ----------------------------------------------------------------------->
<div id="modal_ayuda" class="reveal-modal normal">
    <div id="tituloPagina">
        <h1 style="border-bottom: solid 3px;">
            Agregar Ayuda</h1>
    </div>
    <div id="explicacionTituloPagina">
        <h1>
            La ayuda se muestra junto al campo a rellenar y permite al usuario una mejor comprensión
            del dato que se pide. Sea claro y no tema explayarse. Mientras más entienda el usuario
            la información solicitada, mejor será la información recolectada.</h1>
    </div>
    <textarea id='textAreaAyuda' class="textAreaModal"> Ingrese el texto aqui </textarea>
    <div class="botonesModal">
        <input type="button" id="btnCerrarModalAyuda" value="Cancelar" />
    </div>
</div>
<script>
   function pintarBotonesAyuda() {
        var botones = $(".btnAyuda");
        $.each(botones, function (key, value) {
            if( $(this).parent().find('.hiddenAyuda').val()) {
                $(this).addClass('botonItemConTexto');
            }
            else {
                $(this).hide();
            }
        });
   }

   function pintarBotonesOpciones() {
        var botones = $(".hiddenOpciones");
        $.each(botones, function (key, value) {
            if( $(this).val()) {
                 $(this).parent().find('.btnOpciones').show();
                $(this).parent().find('.btnOpciones').addClass('botonItemConTexto');
            }
        });
   }

    $(document).ready(function () {
        $(document).trigger( "ajaxSend" );

         @{
             String grupoAnterior = "";
             Int32 contador = 1;

             foreach (var ite in Model)
             {
                <text>
                    var tipoDeDiac = "";
                </text>

                 switch (ite.tipoItem)
                 {
                     case (int)TipoDiac.unaLinea:
                         <text> tipoDeDiac = "Una línea"; </text>
                         break;
                     case (int)TipoDiac.multiplesLineas:
                         <text> tipoDeDiac = "Multiples líneas";</text>
                         break;
                     case (int)TipoDiac.conOpciones:
                         <text> tipoDeDiac = "Con opciones";</text>
                         break;
                     case (int)TipoDiac.conAdjunto:
                         <text> tipoDeDiac = "Con Adjunto";</text>
                         break;
                 }


                 <text>
                    var opciones = "";

                        $.ajax({
                            type: "POST",
                            url: '/Diac/ObtenerOpciones',
                            data: JSON.stringify({ idItem: @ite.id }),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            async: false,
                            success:
                                function (data) {
                                    opciones = data;
                                },
                            error: function () { alert('error'); }
                        });
                 </text>



                 if (grupoAnterior == "")
                 {

                     //es el primer item: agregamos todo
                    <text>
                        var identificadorFieldset = 'fieldsetGrupo grupo' + @contador;
                        var identificadorFieldsetConClase = '.fieldsetGrupo.grupo' + @contador;
                        $("#cuerpoDiac").append("<div class='divGrupo'> <fieldset class='" + identificadorFieldset + "'> <legend> <input type='text' class='tituloGrupo' value='@ite.grupo' /> </legend> </fieldset> <a href='#'> <img class='borrarGrupo' src='../../Content/Resources/MasterPage/delete.png'></a> </div>"); 

                        $(identificadorFieldsetConClase).append("<div class='divItem item" + @contador + "'> <input type='text' class='txtTitulo' value='@ite.descripcion'></input> <select class='comboOpcionesItem'><option>Una línea</option><option>Multiples líneas</option><option>Con opciones</option><option>Con Adjunto</option></select> <input style='display:none;' class='btnItem btnOpciones' type='button' value='Opciones'/> <input  class='btnItem btnAyuda' type='button' value='Ayuda'/> <input type='hidden' class='hiddenAyuda' value='@ite.ayuda'/> <input type='hidden' class='hiddenOpciones' value='" + opciones  + "'/> <a href='#'> <img class='borrar' src='../../Content/Resources/MasterPage/delete.png'></a> </div>");
                        var idItem = '.item' + @contador + ' select';
                        $(idItem).val(tipoDeDiac);
                    </text>
                 }
                 else if (grupoAnterior == ite.grupo)
                 {
                     //es un item de un grupo que ya tenemos.. agrego solo el item
                     <text>
                        $(identificadorFieldsetConClase).append("<div class='divItem item" + @contador + "'> <input type='text' class='txtTitulo' value='@ite.descripcion'></input> <select class='comboOpcionesItem'><option>Una línea</option><option>Multiples líneas</option><option>Con opciones</option><option>Con Adjunto</option></select> <input style='display:none;' class='btnItem btnOpciones' type='button' value='Opciones'/> <input  class='btnItem btnAyuda' type='button' value='Ayuda'/> <input type='hidden' class='hiddenAyuda' value='@ite.ayuda'/> <input type='hidden' class='hiddenOpciones' value='" + opciones  + "'/> <a href='#'> <img class='borrar' src='../../Content/Resources/MasterPage/delete.png'></a> </div>");
                        var idItem = '.item' + @contador + ' select';
                        $(idItem).val(tipoDeDiac);
                    </text>
                 }
                 else
                 {
                     //es un item de un grupo nuevo.. agrego todo
                    <text>
                        var identificadorFieldset = 'fieldsetGrupo grupo' + @contador;
                        var identificadorFieldsetConClase = '.fieldsetGrupo.grupo' + @contador;
                        $("#cuerpoDiac").append("<div class='divGrupo'> <fieldset class='" + identificadorFieldset + "'> <legend> <input type='text' class='tituloGrupo' value='@ite.grupo' /> </legend> </fieldset> <a href='#'> <img class='borrarGrupo' src='../../Content/Resources/MasterPage/delete.png'></a> </div>"); 

                        $(identificadorFieldsetConClase).append("<div class='divItem item" + @contador + "'> <input type='text' class='txtTitulo' value='@ite.descripcion'></input> <select class='comboOpcionesItem'><option>Una línea</option><option>Multiples líneas</option><option>Con opciones</option><option>Con Adjunto</option></select> <input style='display:none;' class='btnItem btnOpciones' type='button' value='Opciones'/> <input  class='btnItem btnAyuda' type='button' value='Ayuda'/> <input type='hidden' class='hiddenAyuda' value='@ite.ayuda'/> <input type='hidden' class='hiddenOpciones' value='" + opciones  + "'/> <a href='#'> <img class='borrar' src='../../Content/Resources/MasterPage/delete.png'></a> </div>");
                        var idItem = '.item' + @contador + ' select';
                        $(idItem).val(tipoDeDiac);
                    </text>
                 }

                 grupoAnterior = ite.grupo;
                 contador++;
             }

    
            }

            $(document).trigger( "ajaxComplete" );

            pintarBotonesAyuda();
            pintarBotonesOpciones();
            $(".borrar").hide();
            $("input[type=text]").prop('disabled', true);
            $("input[type=text]").css('opacity', 1);
    });
   
    
    $("#crearDiac").click(function (e) {
        e.preventDefault();
        location.href = '/Diac/';
    });

        function cargarOpciones(contenido) {
        $.each(contenido.split("|"), function (key, value) {
            $("#divOpciones").append("<div class='opcionParticular'> <a class='borrarOpcion' href='#'><img src='../../Content/Resources/MasterPage/delete.png'></a> " + value + "</div>")
        });
    }

    $('#cuerpoDiac').on('click', '.btnOpciones', function (e) {
        itemClickeado = $(this);
        e.preventDefault();

        if ($(this).parent().find('.hiddenOpciones').val() != "") {
            cargarOpciones($(this).parent().find('.hiddenOpciones').val());
        }

        $("#modal_opciones").reveal();
    });

    $('#cuerpoDiac').on('click', '.btnAyuda', function (e) {
        itemClickeado = $(this);
        e.preventDefault();

        if ($(this).parent().find('.hiddenAyuda').val() != "") {
            $('#textAreaAyuda').val($(this).parent().find('.hiddenAyuda').val());
        }

        $("#modal_ayuda").reveal();
    });


       $("#btnCerrarModalOpciones").click(function () {
        if (itemClickeado.parent().find('.hiddenOpciones').val() != "") {
            itemClickeado.parent().find('.btnOpciones').addClass('botonItemConTexto');
        }
        else {
            itemClickeado.parent().find('.btnOpciones').removeClass('botonItemConTexto');
        }

        $('#modal_opciones').trigger('reveal:close');
        limpiarOpciones();
    });

        $("#btnCerrarModalAyuda").click(function () {
        if (itemClickeado.parent().find('.hiddenAyuda').val() != "") {
            itemClickeado.parent().find('.btnAyuda').addClass('botonItemConTexto');
        }
        else {
            itemClickeado.parent().find('.btnAyuda').removeClass('botonItemConTexto');
        }

        itemClickeado = "";
        $('#modal_ayuda').trigger('reveal:close');
    });

</script>
